<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tier List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        theme: {
        extend: {}
        }
    }
    </script>
</head>
<body>
    <header class="flex flex-col items-center p-10" id="header">
        <div class="flex flex-row gap-[10rem]" >
            <img class="" src="images/logo-header.png" alt="Boneco executando movimento de chutar uma bola de futebol">
            <h1 class="">Rankeando Atacantes do Futebol Mundial</h1>
        </div>
        
    </header>

    <script src="script.js"></script>
</body>
</html>